{{> header}}
<nav id="navbar">
 <a href="/"><i class="fas fa-home"></i> Home</a>
 <a href="/about" class="active"> <i class="fas fa-user"></i> About</a>
 <a href="/contact"> <i class="fas fa-address-book"></i> Contact</a>
 <a href="/profile"> <i class="fas fa-cog"></i> Profile</a>
 <div class="hamburger">
  <div class="line"></div>
 </div>
</nav>

<section class="about">
 <h1>Creator</h1>
 <p>{{name}}</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, deleniti!</p>
 <img src="/img/profile.jpg" alt="">
 <ul>
 <li>Developer: Arigbede Omobolaji Paul<li>
 <li>age: 18</li>
 <li>Technologies: HTML, CSS, NODE JS</li>

 </ul>
</section>

{{> footer}}

 <script src="/js/rwd.js"></script>
</body>
</html>